body{
  margin:0;
  padding:0;
  background: #f4f4f4;
  font-family: Montserrat;
}
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
a:link {
    color: black; text-decoration: none;
}
.button{
	width: 80px; height: 20px; background: #f4f4f4; border-radius:4px; border: solid 1px #606060; margin-left: 20px; cursor: pointer;
}
a:visited {
    color: black; text-decoration: none;
}

a:hover {
    color: black; text-decoration: none;
}

a:active {
    color: black; text-decoration: none;
}
#firstclasserbubble{
	right: 110px; position: fixed;background: #23f702;
	border-radius:60px;
	border:1px solid #606060;
	cursor: pointer;
}
#secondclasserbubble{
	right:110px; position: fixed;background: #23f702;
	border-radius:60px;border:1px solid #606060;
	cursor: pointer;
}
#firsttoolbubble{
	right: 5px; bottom: 155px; position: fixed;background: #fc9535;
	width:40px; border-radius:60px;
	height:40px;border:1px solid #606060;
	cursor: pointer;
}
.toolbubbleicon{
	width: 20px; height: 20px; position: absolute; left:50%; top:50%; margin-left:-10px; margin-top: -10px;
}
.classerbubbleicon{
	width: 30px; height: 30px; position: absolute; left:50%; top:50%; margin-left:-15px; margin-top: -15px;
}
.socialbubbleicon{
	width: 40px; height: 40px; position: absolute; left:50%; top:50%; margin-left:-20px; margin-top: -20px;
}
#tipsysocialfirst{
width: 150px; cursor:default;
background-color: #ad04f5;
border-radius: 5px;
position: fixed;
padding: 10px; left: 15px; bottom: 220px;
text-align: center;
}
#tipsysocialfirst:after{
content: ' ';
width: 0px;
height: 0px;
border-top: 10px solid #ad04f5;
border-left: 10px solid transparent;
border-bottom:10px solid transparent;
border-right:10px solid transparent;
position: absolute;
left:30%;
top: 100%;
margin-left: -10px;
}
#tipsysocialsecond{
width: 150px; cursor:default;
background-color: #ad04f5;
border-radius: 5px;
position: fixed;
padding: 10px; left: 120px; bottom: 180px;
text-align: center;
}
#tipsysocialsecond:after{
content: ' ';
width: 0px;
height: 0px;
border-top: 10px solid #ad04f5;
border-left: 10px solid transparent;
border-bottom:10px solid transparent;
border-right:10px solid transparent;
position: absolute;
left:25%;
top: 100%;
margin-left: -10px;
}
#tipsysocialthird{
width: 150px; cursor:default;
background-color: #ad04f5;
border-radius: 5px;
position: fixed;
padding: 10px; left: 200px; bottom: 85px;
text-align: center;
}
#notificationalign{
	position: absolute;
	right: 55px;
	top:30px;
}
#tipsysocialthird:after{
content: ' ';
width: 0px;
height: 0px;
border-top: 10px solid #ad04f5;
border-left: 10px solid #ad04f5;
border-bottom:10px solid transparent;
border-right:10px solid transparent;
position: absolute;
left:0%;
top: 100%;
margin-left: 6px;
}
#tipsytoolfirst{
width: 150px; cursor:default;
background-color: #ffc728;
border-radius: 5px;
position: fixed;
padding: 10px; right: 15px; bottom: 210px;
text-align: center;
}
#tipsytoolfirst:after{
content: ' ';
width: 0px;
height: 0px;
border-top: 10px solid #ffc728;
border-left: 10px solid transparent;
border-bottom:10px solid transparent;
border-right:10px solid transparent;
position: absolute;
right:3%;
top: 100%;
margin-left: -10px;
}
#secondtoolbubble{
	right:70px; bottom: 165px; position: fixed;background: #fc9535;
	width:40px; border-radius:60px;
	height:40px;border:1px solid #606060;
	cursor: pointer;
}
#tipsytoolsecond{
width: 150px; cursor:default;
background-color: #ffc728;
border-radius: 5px;
position: fixed;
padding: 10px; right: 15px; bottom: 220px;
text-align: center;
}
#tipsytoolsecond:after{
content: ' ';
width: 0px;
height: 0px;
border-top: 10px solid #ffc728;
border-left: 10px solid transparent;
border-bottom:10px solid transparent;
border-right:10px solid transparent;
position: absolute;
right:50%;
top: 100%;
margin-right: -20px;
}
#thirdtoolbubble{
	right:130px; bottom: 135px; position: fixed;background: #fc9535;
	width:40px; border-radius:60px;
	height:40px;border:1px solid #606060;
	cursor: pointer;
}
#tipsytoolthird{
width: 150px; cursor:default;
background-color: #ffc728;
border-radius: 5px;
position: fixed;
padding: 10px; right: 130px; bottom: 190px;
text-align: center;
}
#tipsytoolthird:after{
content: ' ';
width: 0px;
height: 0px;
border-top: 10px solid #ffc728;
border-left: 10px solid transparent;
border-bottom:10px solid transparent;
border-right:10px solid transparent;
position: absolute;
right:10px;
top: 100%;
}
header{position:fixed; top:0px; height: 65px; width: 100%;background:#fc301c; z-index: 99; border: 1px solid #606060;}
#toolbubble{
	border-radius:60px;
	position: fixed;
	bottom:30px;
	right:20px;
	background: #fc9535;
	width:90px;
	height:90px;
	cursor: pointer;
	border:1px solid #606060;
}
#classerbubble{
	border-radius:60px;
	position: fixed;
	top:190px;
	right:20px;
	background: #23f702;
	width:90px;
	height:90px;
	cursor: pointer;
	border:1px solid #606060; text-align: center;
}
#socialbubble{
	border-radius:60px;
	position: fixed;
	bottom:30px;
	left:30px;
	background: #ad04f5;
	width:90px;
	height:90px;
	cursor: pointer;
	border:1px solid #606060;
}
#classbubbleicon{
	height: 60px; width: 60px; left: 50%; margin-left: -30px; position: absolute; top: 50%; margin-top: -30px;
}
#socialbubbleicon{
	height: 60px; width: 60px; left: 50%; margin-left: -30px; position: absolute; top: 50%; margin-top: -30px;
}
#toolbubbleicon{
	height: 60px; width: 60px; left: 50%; margin-left: -30px; position: absolute; top: 50%; margin-top: -25px;
}
#firstsocialbubble{
	left: 40px; bottom: 145px; position: fixed;background: #ad04f5;
	cursor: pointer;
}
#secondsocialbubble{
	left:130px; bottom: 105px; position: fixed;background: #ad04f5;
	cursor: pointer;
}
#thirdsocialbubble{
	left:150px; bottom: 10px; position: fixed;background: #ad04f5;
	cursor: pointer;
}
#postbottom{
	bottom: 20px; position: absolute;
}
.socialbubble{
	width:60px; border-radius:60px;
	height:60px;border:1px solid #606060;
}
.lightboxbutton.isclick{
	background: #11a2fc;
}
.searchbar{
	width: 500px; margin-top: 50px; margin-left:20px;
}
.searchoutput{
	width: 498.5px;border: 1px solid grey; display: none;margin-left:20px;
}
.searchoutput a{
	display: block; width: 98%; padding: 1%; border-bottom: 1px solid grey; height: 35px;
}
.searchoutput a:hover{
	background: #fc8134;
}
.searchoutput a .searchname{
	margin-left: 40px;
}
.searchoutput a .searchusername{
	float:right; margin-top: -23px; font-size:12pt;
}
.searchoutput a .profilepicture{
	margin-top:-3.5px;margin-left:-3px;
}
#peoplecontainer a .searchname{
	margin-left: 40px; margin-top:3px;
}
#peoplecontainer a .searchusername{
	float:right; margin-top: -20px; font-size:12pt;
}
#peoplecontainer a .profilepicture{
	margin-top:3.5px;margin-left:3px;
}
#peoplecontainer{
	left: 50%; margin-left: -246px; position: absolute; top: 60px;
}
#peoplebox{
	font-size: 15pt; width: 700px;height: 500px; background: white;
	top: 40%;
	left: 50%;
	margin-top: -200px;
	margin-left: -350px;
	position: fixed;
}
#classertitle{
	text-align: center; font-size: 30pt; color:#fce835; font-weight:bold;text-shadow: -1.5px 0 #606060, 0 1.5px #606060, 1.5px 0 #606060, 0 -1.5px #606060;
}
#classertable{position:absolute; left:50%; margin-left:-300px; margin-bottom:50px; background: #ffffff; margin-top: -20px; width: 600px;}
#classertable div{
	border: #18ac01 1px solid;
}
#classerbox{
	font-size: 15pt; width: 670px;height: 500px; background: #18ac01;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -325px;
	position: fixed;
}
.profilebutton{
	width: 120px; height: 25px; display: inline-block; text-align: center; border: solid 1px black; cursor: pointer;
	background: #fc301c;
border-radius: 3px;
}
.profilebutton.isclick{
	width: 120px; height: 25px; display: inline-block; text-align: center; border: solid 1px black; cursor: pointer;
	background: #11a2fc;
border-radius: 3px;
}
#profilebuttonscontainer{
	left:50%; margin-left: -325px; width: 650px; position:absolute;
}
#profilepicture{
	width: 250px; height: 200px; margin-bottom: 1px;
	border-radius: 30px; margin-left: 10%;
}
#profile_edit{
	float: right; margin-top: 150px;border: 1px solid black; margin-bottom:3px;
	cursor:pointer; background-color: #bcbcbc; border-radius: 4px;width:200px;
	text-align: center;
}
#profileoptions{
	float: right; margin-top: 150px;
}
#profileoptions li{
	border: 1px solid black; margin-bottom:3px; cursor:pointer; background: #bcbcbc; border-radius: 4px; 
}
#mainprofilecontainer{
	position: absolute; width:650px; left:50%; margin-left:-325px;margin-top: 70px;
}
.lightboxbutton{
	font-size:12pt; border-radius:3px; border:#bcbcbc solid 1px; height:15px; width: 175px; cursor: pointer; background: #fc301c; margin: 0;
}
#bottomsociallightbox{
	position: absolute; bottom: 0; width: 100%; background: #ad04f5; height: 40px;
}
#register{height: 300px; position: absolute;
right:470px; width: 560px; background: #18ac01;
border-collapse:collapse;
margin-top: 130px; border-radius: 6px;
box-shadow: 0px 0px 30px 0px #606060;}
#lightboxclose{
	color: #f4f4f4; font-size: 15pt;background: #18ac01; width: 55px; margin-top: 8px; margin-left: 10px; border-radius:3px; cursor: pointer; text-align: center;
}
.texttable{text-align: center;}

.allftext{font-size: 38pt;color: #fce835;
text-shadow: -1.5px 0 #606060, 0 1.5px #606060, 1.5px 0 #606060, 0 -1.5px #606060;}

.fu {
  border: 1px solid rgba(220, 214, 218, 0.9);
  display: block;
  margin: 0;
  width: 99%;
  height: 30px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: inset 1px 1px 2px 0 #707070;;
  border-radius: 6px;
}

.font{font-family: 'Bree Serif', serif;}
.birth{width: 80px; height: 30px}
.submitsignup{width:280px; background: skyblue;}
.sign{ float:right;
    width: 300px;
    border:3px solid #8AC007;
    padding: 10px; margin-right: 14px; margin-top: 14px;}
#tpost{visibility: hidden;}
.log {float:left;
  border: 1px solid rgba(220, 214, 218, 0.9);
  display: block;
  margin-top:20px;
  margin-right:10px;
  width: 200px;
  height: 20px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: inset 1px 1px 2px 0 #707070;;
  border-radius: 6px;
}
.content{word-wrap: break-word; width:580px;}
#log{float:right; border: 1px solid rgba(220, 214, 218, 0.9);
  margin-top:20px;
  margin-right:10px;
  width: 200px;
  height: 25px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: 1px 1px 2px 0 #707070;;
  border-radius: 6px;}

#profilecontainer{
	min-width:100px;height:41px;margin-top:12px;
  margin-right:50px; float:right;box-shadow: 0px 0px 2px 0 #707070;line-height:40px;
  border-radius: 2px;background-color: #fc8134; cursor:pointer; border: 1px solid #fc8134;
}

#profilecontainer:hover{
	min-width:100px; height:41px;margin-top:12px;
  margin-right:50px; float:right;box-shadow: 0px 0px 2px 0 #707070;
  border-radius: 2px;background-color: #fc9535; cursor:pointer;border: 1px solid #fc9535;
}
#mainlist{
	width:150px;margin-top:65px; right:0;
  margin-right:25px;box-shadow: 0px 0px 2px 0 #707070;
  border-radius: 2px;position: fixed; background: white;
}
#mainlist .op{
width:149px; border: 1px solid black; height:25px;
border-radius: 2px; cursor: pointer; text-align: center; background: white;
}
.hide{
	visibility: hidden;width: 0; height: 0;
}
#posts{
	margin-top: 70px; left: 50%; margin-left: -302px; position: absolute; width: 700px;
}
.profilepicture{
	width:30px; height:30px;margin-top:2px;
  margin-left:2px; float:left;
  border-radius: 2px; border: 1px solid #606060;
}
.profilename{margin-top:6px;position: absolute;}
#profilepictureheader{
	width:30px; height:30px;margin-top:5px;
  margin-left:2px; float:left;box-shadow: 1px 1px 2px 0 #707070;;
  border-radius: 4px;text-align: center;
vertical-align: middle;
line-height: 40px;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.classerfield{
	width: 60px; 
}
.ctext{
text-align: center;position:relative;
vertical-align: middle;
line-height: 40px; font-size:15pt; color: #f4f4f4;margin-left:5px; margin-right: 5px;
}

.writer{
	width: 588px; height: 100px; max-height: 650px; margin-left:4px; resize: none; margin-top:10px;white-space: pre-wrap;
}

#post{width: 600px; background-color:#bcbcbc;bottom:0px; left:50%; margin-left:-300px; position: fixed; z-index: 300; border-radius: 4px;border:1px solid #606060;}
.small{height: 200px;}
.medium{height: 350px;}
.big{height: 500px;}
#postbutton{width:100px; height: 20px; margin-top: 2px; margin-left: 34px;}

ul#noption li {
    display:inline;
}
#listboxcontainer{
	margin-left: 500px; margin-bottom: 1px; margin-top: 75px;
}
.postbox{
width: 600px; background-color:white; box-shadow: 0px 0px 10px -5px black; border-collapse: separate; padding: 10px; border-radius: 4px;
position: relative;margin-bottom:40px;
}

.postbox tbody{
	width: 600px;
}
.commentbox{
width: 545px; min-height: 80px; background-color:#ffffff; margin-left:5px; padding: 10px; margin-top: 5px; border-radius: 4px; margin-bottom: 5px; position: relative; margin-right:-50px; 

}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.listbox{
	width: 100px; height:50px; margin-left: 1px; float: left; text-align: center;
vertical-align: middle; background: red; border-radius: 3px; color: white; z-index: 1;
}
.loading{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.listboxo{
	width: 100px; height:50px; margin-left: 1px; float: left; text-align: center;
vertical-align: middle; background-color: blue; border-radius: 3px; color: white; z-index: 1;
}

.listbox:hover{
	width: 100px; height:50px; margin-left: 1px; float: left; text-align: center;
vertical-align: middle; background: red; border-radius: 3px; color: white; z-index: 1; color:#707070; font-weight:bolder;
}

.listboxo:hover{
	width: 100px; height:50px; margin-left: 1px; float: left; text-align: center;
vertical-align: middle; background-color: blue; border-radius: 3px; color: white; z-index: 1; color:#707070; font-weight:bolder;
}

.img{cursor: pointer; margin-top: 3px;height:16px; width:20px;}

.imgs{cursor: pointer; margin-top: 0.5px;}

.up{
	cursor: pointer; float: left; height: 17px; background-color: #f4f4f4; border: solid #606060 1px; border-radius: 1.5px;
}
.up:hover{
	box-shadow: 0px 0px 5px -2px #18ac01;
}
.down{
	cursor: pointer; float: left; height: 17px; background-color: #f4f4f4; border: solid #606060 1px; border-radius: 1.5px;
}
.down:hover{
	box-shadow: 0px 0px 5px -2px #fc301c;
}
.downcount{
	color: #fc301c; float:left; font-size: 12pt;text-align: center;
vertical-align: middle;
line-height: 26px;
}
#notificationbox{
	width: 600px; height: 400px; background: white; left: 50%; margin-left: -300px; top: 50%; margin-top: -200px;position: absolute;
}
.notification{
	width: 20px; height: 20px; position: absolute;
}
#notificationsocial{
	width: 20px; height: 20px; position: absolute;top: 10px; right: 10px;
}
#firstsocialbubble .notification{
	top:5px;right:5px;
}
.upcount{color: #18ac01;float:left; font-size: 12pt;text-align: center;
vertical-align: middle;
line-height: 26px;}

.likecontainer{
	background-color:#FFFFFF;max-height: 26px; max-width:195px; margin-top: 3px; position: relative; display: inline-block; margin-left: 5px;box-shadow: 0px 0px 5px 0px rgba(121,18,111,1);
}
.sharecontainer{
	background-color:#FFFFFF;max-height: 26px; max-width:100px;width:100px; float:right; text-align: right;box-shadow: 0px 0px 5px 0px #ad04f5; cursor: pointer;
}
.sharecontainer:hover{
	box-shadow: 0px 0px 5px 0px #fce835;
}
.share{
	float: right; height: 20px; border: solid grey; background-color:lightgrey; border-width: 1px; border-radius: 1px;
}
.commentcontainer.isclick{
	cursor: pointer; background-color:#11a2fc;height: 22px;text-align:right; width: 170px;box-shadow: 0px 0px 5px 0px #ad04f5;float:right;
}
.commentcontainer.isclick:hover{
	cursor: pointer; background-color:#11a2fc;height: 22px;text-align:right; width: 170px;box-shadow: 0px 0px 5px 0px #fce835;float:right;
}
.commentcontainer.notclick{
	cursor: pointer; background-color:#ffffff;height: 22px;text-align:right; width: 170px;box-shadow: 0px 0px 5px 0px #ad04f5;float:right;
}
.commentcontainer.notclick:hover{
	cursor: pointer; background-color:#ffffff;height: 22px;text-align:right; width: 170px;box-shadow: 0px 0px 5px 0px #fce835;float:right;
}
.speech{
	float: right; height: 20px; border: solid grey; background-color:lightgrey; border-width: 1px; border-radius: 1px;
}
label{
	cursor: pointer;
}
#file{
	opacity:0;
	cursor: pointer;
	width:100px; height: 70px;
	z-index: 10;
	position: absolute;
}
#profile_name{
	margin-bottom: 1px; position:absolute;
	border-radius: 30px; left: 60%; top: 0px; margin-top: 50px; margin-left: -40px;
}
#customfileupload{
	float:right;
}
#get_file{
	border-radius:4px;
	float:left;
	min-width: 90px;
	max-width: 250px;
	height:70px;
	background: #f4f4f4;
	border: 1px solid #606060;
}
#get_file p{
	z-index: 0;
	width: 80px;
	font-size: 10pt;
	position: absolute;
}
.linecontainer{
	border-radius: 3px;background: #11a2fc; width:100%; border: solid 1px black;
}
.slinecontainer{
	border-radius: 3px;background: #11a2fc; width:100%; border: solid 1px black;
}
.commentsblock{
	width:575px; background-color: #fce835; display: inline-block;margin-top: 4px; margin-right:-10px; border-radius: 3px; border: 1px solid #606060;
}

.commentblock{
		width:450px; background-color: rgba(200,250,200,0.9); margin-top: 2px; border: solid grey 1px; margin-bottom: 2px; margin-left:4px;
border-radius: 2px;
}

.sprofilepicture{
	width:30px; height:30px;
  margin-left:2px; float:left;box-shadow: 1px 1px 2px 0 #707070;text-align: center;
vertical-align: middle;
line-height: 30px;
}

.stext{
font-size: 10pt;

}

.sup{
	float: left; height: 20px; border: solid grey; background-color: lightgrey; border-width: 1px; border-radius: 1px;
}

.sdown{
	float: left; height: 20px; border: solid grey; background-color:lightgrey; border-width: 1px; border-radius: 1px;
}

.sdowncount{
	color: red; float:left; font-size: 9pt;text-align: center;
vertical-align: middle;
line-height: 22px;
}
.supcount{color: green;float:left; font-size: 9pt;text-align: center;
vertical-align: middle;
line-height: 22px;}
.postprofile{
	text-align: center;
vertical-align: middle;
line-height: 40px;
}
.commentprofile{
	height: 30px; display:block;max-width: 120px;
	text-align: center; margin-bottom:6px;
vertical-align: middle;
line-height: 30px;
}
.slikecontainer{
	background-color:#AFAFAF;height: 22px; max-width:120px; margin-top: 3px; position: relative; display: inline-block; margin-left: 5px;bottom: 0;
    left: 0; 
}
.cwriter{
	width: 550px; max-height: 650px; margin-left:4px; resize: none; margin-top:10px;
}
.settings{
	width:15px; height:15px;margin: 2.5px;cursor: pointer;
}
.buttons{
	float: right; margin-top: -25px; margin-right: 10px;
}
.plistr{
	border-radius:4px; border:1px solid #606060; width: 490px; height: 40px; cursor: pointer;
}
.plist{
	border-radius:4px; border:1px solid #606060; width: 490px; height: 40px; cursor: pointer;
}
.plist:hover{
	background: #fc8134;
}
#profileboxfriends{
	width:500px;
	position:relative;
	top:50px; min-height:40px;
	left:50%; border-radius:4px; border:1px solid #606060;
	margin-left: -250px;
	background: white;
}
#profileboxfollowers{
	width:500px;
	position:relative;
	top:50px; min-height:40px;
	left:50%; border-radius:4px; border:1px solid #606060;
	margin-left: -250px;
	background: white;
}
.edit{
	width: 170px; height: 35px; border-bottom: solid black 1px;border-top: solid black 1px; list-style-type: none; margin-left: -40px;cursor: pointer;
}
.edit:hover{
	background: white;
}
.delete{
	width: 170px; height: 35px; border-bottom: solid black 1px; list-style-type: none; margin-left: -40px;cursor:pointer;
}
.delete:hover{
	background: white;
}
#hotchoose{
	width: 410px; height: 140px; background-color:grey; margin-left:450px; margin-top: 125px;
}
#alert{
	font-size: 15pt; width: 400px;height: 200px; background: white;
	top: 40%;
	left: 50%; margin-left:-200px;
	position: fixed;
}
.settcontain{width:20px; height:20px;background-color: #f4f4f4; border-radius: 2px;cursor: pointer; position: absolute; top:10px;right:10px; }
.settcontain:hover{border: solid #606060 1px;width:20px; height:20px;background-color: #f4f4f4; float:right;border-radius: 2px;cursor: pointer;}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
