RewriteEngine On
RewriteRule ^@([^/]+)?$ index.php?filter=$1
RewriteRule ^register?$ register.php
RewriteRule ^profiles/([a-zA-Z]+)/([a-z]+)/([^/]+)$ profile.php?user=$1&tag=$2&filter=$3
RewriteRule ^profiles/([a-zA-Z]+)/([a-z]+)$ profile.php?user=$1&tag=$2
